%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire, [{dir,"."}]}}]}.
{deps, [
        {uuid_erl, "~>1.5.3"},
        {jsone, "~>1.4.0"},
        {lager, "~>3.2.0"}
       ]}.
