%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire, [{dir,"."}]}}]}.
{deps, [
        {uuid, "~>1.7.0", {pkg, uuid_erl}},
        {quickrand, "~>1.7.0"},
        {jsone, "~>1.4.0"},
        {lager, "~>3.5.0"}
       ]}.

{profiles,
 [
  {lint,  [{plugins, [rebar3_lint]}]},
  {eqc,
   [{erl_opts, [{d, 'EQC'}, nowarn_export_all]},
    {deps, [jsone]},
    {plugins, [rebar_eqc]}]}]}.
